# Node modules
node_modules/

# Build output
dist/
build/

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# npm
package-lock.json
yarn.lock

# IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
